*{
    margin: 0;
}
.a1{
    width: 100%;
    height: 100vh;
}
.a2{
    position: absolute;
 margin-left: -1480px;
 margin-top: 20px;
}
.a3 {
    position: absolute;
    margin-top: -650px;
    display: flex;
   font-size: 25px;
   gap: 80px;
   margin-left: 250px;
   color: white;
}
.a4{
    background-color: #1A3E3E;
    border: #1A3E3E;
    color: white;
}
.a5{
    font-size: 40px;
    margin-top: -400px;
    font-weight: bold;
    margin-left: 40px;
    color: white;
}
body {
  margin: 0;
  background: url(bg.jpg) center/cover no-repeat;
  font-family: Arial;
}

.search {
  display: flex;
  gap: 15px;
  padding: 20px;
  margin: 40px;
  background: rgba(70,90,100,.65);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  width: 700px; 
}

.field {
  padding: 12px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 8px;
}

.btn {
  padding: 12px 20px;
  border: 0;
  border-radius: 8px;
  background: #fff;
}
.box1{
    margin-top: 190px;
    margin-left: 100px;
}
.box2{
    position: absolute;
    margin-left: -190px;
    margin-top: 300px;
}
.box3{
    color: #F2BE22;
    font-size: 25px;
    margin-left: 870px;
    margin-top: -290px;
}
.box4{
    margin-left: 870px;
    font-size: 30px;
}
.box5{
    margin-left: 870px;
    margin-top: 20px;
    font-size: 20px;
}
.box6{
    width: 200px;
    height: 40px;
    margin-left: 870px;
    margin-top: 50px;
    background-color: #1A3E3E;
    color: #fff;
}
.box7{
    color: #F2BE22;
    font-size: 25px;
    margin-top: 150px;
    margin-left: 100px;
}
.box8{
    margin-left: 100px;
    font-size: 30px;
}
.box9{
    margin-left: 100px;
    margin-top: 10px;
}
.text{
    width: 70px;
    margin-left: 100px;
    margin-top: 20px;
}
.text1{
    margin-left: 180px;
    margin-top: -60px;
}

.text2{
    margin-left: 180px;
}
.text3{
    position: absolute;
    margin-left: 850px;
    margin-top: -350px;
}
.text4{
    position: absolute;
    margin-left: 1110px;
    margin-top: -350px; 
}
.text5{
     position: absolute;
    margin-left: 1110px;
    margin-top: -90px; 
}
.text6{
     position: absolute;
    margin-left: 850px;
    margin-top: -90px; 
}
.text7{
    background-color: #F3F5F4;
    height: 580px;
}
.sim{
    background-color: #1A3E3E;
    color: #fff;
    height: 50px;
    width: 200px;
    margin-top: 50px;
    margin-left: 100px;
}
.sim1{
    margin-top: -120px;
}
.sim2{
    color: #F2BE22;
    font-size: 25px;
    text-align: center;
    margin-top: 60px;
}

.sim3{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
.sim4{
    margin-top: 40px;
}
.sim5{
    margin-top: -60px;
    margin-left: 20px;
    font-size: 25px;
    color: #fff;
}
.sim6{
    margin-left: 20px;
    font-size: 20px;
    color: #fff;

}
.sim7{
    margin-left: 310px;
    margin-top: -40px;
    font-size: 25px;
    color: #fff;
}
.z1{
    display: flex;
    gap: 50px;
    margin-left: 150px;
}
.sim8{
    width: 200px;
    height: 50px;
    margin-top: 600px;
    margin-left: -775px;
    color: #fff;
    background-color: #1A3E3E;
}
.sim9{
    text-align: center;
    color: #F2BE22;
    font-size: 25px;
    margin-top: 80px;
}
.xob{
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
    font-weight: bold;
}
.z2{
    background-color: #F3F5F4;
    padding-top: 20px;
    width: 700px;
    gap: 30px;
    height: 350px;
    display: flex;
}
.d1{
    display: flex;
    gap: 180px;
    margin-top: 100px;
}

.xob1{
    height: 350px;
}

.yl{
    color: #F2BE22;
}
.z3{
    display: flex;
    gap: 50px;
    margin-left: 20px;
    margin-top: 50px;
}
.z4{
    width: 200px;
    height: 30px;background-color: #1A3E3E;
    color: #fff;margin-left: 650px;
    margin-top: 50px;
}
.z5{
    text-align: center;
    color: #F2BE22;
    font-size: 25px;
    margin-top: 50px;
}
.z6{
    text-align: center;
    font-size: 30px;
}
.z7{
    margin-left: 20px;
    margin-top: 20px;
}
.x1{
   
    gap: 50px;
    margin-left: 150px;
}
.x2{
    margin-left: 169px;
    margin-top: 20px;
}
.x3{
    width: 200px;
height: 30px;
background-color: #1A3E3E;
color: #fff;
margin-left: 650px;
margin-top: 20px;
}
.x4{
    width: 100%;
    height: 400px;
    background-color: #1A3E3E;
    margin-top: 220px;
}
.x5{
    width: 650px;
    height: 130px;
    background-color: #dfdddd;
    margin-left: 450px;
    margin-top: 170px;
    position: absolute;
}
.x6{
    color: #ffc003;
    margin-left: 50px;
    margin-top: 20px;
}
.x7{
    margin-left: 50px;
    margin-top: 10px;
}
.x8{
    margin-left: 300px;
    margin-top: -50px;
}
.x9{
    margin-left: 300px;
}
.c1{
    font-size: 10px;
    margin-left: 300px;
}
.c2{
   padding-top: 120px;
   margin-left: 200px;
   color: #fff  ;
}
.c3{
    margin-top: 20px;
    margin-left: 200px;
    color: #fff;
}
.c4{
    margin-top: 50px;
    margin-left: 200px;
    color: #fff;
}
.c5{
    margin-left: 350px;
    margin-top: -14px;
    color: #fff;
}
.c6{
    margin-top: 20px;
    margin-left:200px;
}
.c7{
    margin-left: 0px;
}
.c8 {
    margin-left: 770px;
    margin-top: -280px;
    color: #fff;
}
.c9 p{
margin-top: 20px;
}


@media (max-width: 510px) {


  .a1 {
    height: 70vh;
    object-fit: cover;
  }

  .a2 {
    position: absolute;
    margin-left: -380px;
    margin-top: 20px;
    width: 120px;
  }
.box1{
    display: none;
    
}
.box2{
    display: none;
}
  .a3 {
    display: none; 
  }
  .box3{
    display: none;
  }
.xx1{
    margin-left: -50px;
}
.xx2{
    margin-left: -50px;
}
.xx3{
    margin-left: -50px;
}
.sim{
    display: none;
}
.xx4{
    margin-top: 100px;
}
.z4{
  display: none;
}
.z7{
    margin-left: -8px;
}
  .a5 {
    font-size: 24px;
    margin-top: -300px;
    margin-left: 20px;
    width: 90%;
  }
  .search {
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
  }
.x6{
    margin-left: -0px;

}
.x8{
    margin-top: 20px;
}
.c1{
    margin-top: 10px;
}
.c8{
    margin-top: -290px;
    position: absolute;
}
.c5{
    margin-left: 100px;
}
.x7{
    margin-left: 0px;
}
  .field {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .box1 {
    width: 90%;
    margin: 40px auto 0;
    display: block;
  }

  .box2 {
    display: none;
  }

  .box3,
  .box4,
  .box5,
  .box6 {
    margin-left: 20px;
    width: 90%;
  }

  .box4 {
    font-size: 22px;
  }

  .box5 {
    font-size: 16px;
  }


  .text7 {
    height: auto;
    padding-bottom: 40px;
  }

  .text3,
  .text4,
  .text5,
  .text6 {
    display: none;
  }

  .sim {
    margin-left: 20px;
  }


  .z1 {
    flex-direction: column;
    margin-left: 0;
    align-items: center;
  }

  .sim8 {
    margin: 40px auto;
  }


  .z3 {
    flex-direction: column;
    align-items: center;
  }

  .z2 {
    width: 95%;
    flex-direction: column;
    height: auto;
  }

  .xob1 {
    width: 100%;
    height: auto;
  }

  .d1 {
    gap: 40px;
    margin-top: 20px;
  }

  .z4 {
    margin: 40px auto;
  }


  .x1,
  .x2 {
    margin-left: 0;
    text-align: center;
  }

  .x1 img,
  .x2 img {
    width: 90%;
    margin-top: 15px;
  }

  .x3 {
    margin: 30px auto;
    display: block;
  }


  .x5 {
    position: static;
    width: 90%;
    height: auto;
    margin: 40px auto;
    padding: 20px;
  }

  .x8,
  .x9,
  .c1 {
    margin-left: 0;
  }

  .x9 {
    width: 100%;
    margin-top: 10px;
  }


  .x4 {
    height: auto;
    padding-bottom: 40px;
  }

  .c2,
  .c3,
  .c4,
  .c5,
  .c6 {
    margin-left: 20px;
  }

  .c8 {
    margin-left: 20px;
    margin-top: 40px;
  }
}
