*{
    margin: 0;
}
.a1{
    width: 100%;
    height: 100vh;
}
.a2{
    position: absolute;
 margin-left: -1480px;
 margin-top: 20px;
}
.a3 {
    position: absolute;
    margin-top: -650px;
    display: flex;
   font-size: 25px;
   gap: 80px;
   margin-left: 250px;
   color: white;
}
.a4{
    background-color: #1A3E3E;
    border: #1A3E3E;
    color: white;
}
.a5{
    font-size: 40px;
    margin-top: -400px;
    font-weight: bold;
    margin-left: 40px;
    color: white;
}
body {
  margin: 0;
  background: url(bg.jpg) center/cover no-repeat;
  font-family: Arial;
}

.search {
  display: flex;
  gap: 15px;
  padding: 20px;
  margin: 40px;
  background: rgba(70,90,100,.65);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  width: 700px; 
}

.field {
  padding: 12px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 8px;
}

.btn {
  padding: 12px 20px;
  border: 0;
  border-radius: 8px;
  background: #fff;
}
.box1{
    margin-top: 190px;
    margin-left: 100px;
}
.box2{
    position: absolute;
    margin-left: -190px;
    margin-top: 300px;
}
.box3{
    color: #F2BE22;
    font-size: 25px;
    margin-left: 870px;
    margin-top: -290px;
}
.box4{
    margin-left: 870px;
    font-size: 30px;
}
.box5{
    margin-left: 870px;
    margin-top: 20px;
    font-size: 20px;
}
.box6{
    width: 200px;
    height: 40px;
    margin-left: 870px;
    margin-top: 50px;
    background-color: #1A3E3E;
    color: #fff;
}
.box7{
    color: #F2BE22;
    font-size: 25px;
    margin-top: 150px;
    margin-left: 100px;
}
.box8{
    margin-left: 100px;
    font-size: 30px;
}
.box9{
    margin-left: 100px;
    margin-top: 10px;
}
.text{
    width: 70px;
    margin-left: 100px;
    margin-top: 20px;
}
.text1{
    margin-left: 180px;
    margin-top: -60px;
}

.text2{
    margin-left: 180px;
}
.text3{
    position: absolute;
    margin-left: 850px;
    margin-top: -350px;
}
.text4{
    position: absolute;
    margin-left: 1110px;
    margin-top: -350px; 
}
.text5{
     position: absolute;
    margin-left: 1110px;
    margin-top: -90px; 
}
.text6{
     position: absolute;
    margin-left: 850px;
    margin-top: -90px; 
}
.text7{
    background-color: #F3F5F4;
    height: 580px;
}
.sim{
    background-color: #1A3E3E;
    color: #fff;
    height: 50px;
    width: 200px;
    margin-top: 50px;
    margin-left: 100px;
}
.sim1{
    margin-top: -120px;
}