*{
    margin: 0;
}
.a1{
    width: 100%;
    height: 100vh;
}
.a2{
    position: absolute;
 margin-left: -1480px;
 margin-top: 20px;
}
.a3 {
    position: absolute;
    margin-top: -650px;
    display: flex;
   font-size: 25px;
   gap: 80px;
   margin-left: 250px;
   color: white;
}
.a4{
    background-color: #1A3E3E;
    border: #1A3E3E;
    color: white;
}
.a5{
    font-size: 40px;
    margin-top: -400px;
    font-weight: bold;
    margin-left: 40px;
    color: white;
}
body {
  margin: 0;
  background: url(bg.jpg) center/cover no-repeat;
  font-family: Arial;
}

.search {
  display: flex;
  gap: 15px;
  padding: 20px;
  margin: 40px;
  background: rgba(70,90,100,.65);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  width: 700px; 
}

.field {
  padding: 12px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 8px;
}

.btn {
  padding: 12px 20px;
  border: 0;
  border-radius: 8px;
  background: #fff;
}
